* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  width: 100%;
}

body{
  background-color: rgb(56, 54, 54);
}
.center{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.loginBox{
  background-color: rgb(29, 28, 30);
  border-radius: 20px;
  height: 500px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* .details{
  background-color: rgb(148, 61, 61);
  height: 400px;
} */

.paragraph{
  position: relative;
  top: -60px;
  
}
.paragraph h1{
  color: white;
  font-size: 40px;
  text-decoration: underline solid white 2px;
}

.details input{
  padding: 8px;
  border-radius: 10px;
  width: 250px;
}
.details form{
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  top: -20px;
}

#btn{
  background-color: aquamarine;
  position: relative;
  top: 35px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

#btn:hover{
  background-color: rgb(57, 173, 153);
  scale: 0.98;
}

.details label{
  font-size: 18px;
  color: white;
}
.loginBox .welcomeDiv{
  display: flex;
  
}
.welcomeDiv{
  position: relative;
  display: flex;
  background-color: rgb(106, 106, 62);
  border-radius: 20px;
  height: 350px;
  width: 400px;
  left: -80px;
  justify-content: center;
  align-items: center;
}